# coding: utf-8

"""
    MarketPay API

    API for Smart Contracts and Payments

    OpenAPI spec version: v2.01
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class RefundsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def refunds_refund_get(self, refund_id, **kwargs):
        """
        View a Refund
        No matter if it is              a PayIn refund : request to reimburse a user on its payment card. The money which has already been paid will automatically go back to the user’s bank account              a Transfer : request to reimburse a wallet. The money which comes from a wallet and has already been transferred to another one goes back to the wallet it came from              or a PayOut refund              Note that PayOut refunds can only be generated by MarketPay. The Id is obtained through the event or the hook notification PAYOUT_REFUND_SUCCEEDED
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.refunds_refund_get(refund_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int refund_id: The ID of a refund (required)
        :return: RefundResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.refunds_refund_get_with_http_info(refund_id, **kwargs)
        else:
            (data) = self.refunds_refund_get_with_http_info(refund_id, **kwargs)
            return data

    def refunds_refund_get_with_http_info(self, refund_id, **kwargs):
        """
        View a Refund
        No matter if it is              a PayIn refund : request to reimburse a user on its payment card. The money which has already been paid will automatically go back to the user’s bank account              a Transfer : request to reimburse a wallet. The money which comes from a wallet and has already been transferred to another one goes back to the wallet it came from              or a PayOut refund              Note that PayOut refunds can only be generated by MarketPay. The Id is obtained through the event or the hook notification PAYOUT_REFUND_SUCCEEDED
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.refunds_refund_get_with_http_info(refund_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int refund_id: The ID of a refund (required)
        :return: RefundResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['refund_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method refunds_refund_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'refund_id' is set
        if ('refund_id' not in params) or (params['refund_id'] is None):
            raise ValueError("Missing the required parameter `refund_id` when calling `refunds_refund_get`")


        collection_formats = {}

        resource_path = '/v2.01/Refunds/{RefundId}'.replace('{format}', 'json')
        path_params = {}
        if 'refund_id' in params:
            path_params['RefundId'] = params['refund_id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['text/plain', 'application/json', 'text/json'])

        # Authentication setting
        auth_settings = ['oauth2']

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='RefundResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
